body{
    padding: 0;
    margin: 0;
}
.body{
	text-align: center;
	font: 13px Arial, Helvetica, sans-serif;
	background: linear-gradient(to top, #ffffff, #acffaa);
}
div{
	padding: 13px 0 0;
	box-sizing: content-box;
	background: #f9f9f9;
}
.content{
    width: 795px;
    height: 315px;
    padding: 23px 28px;
    color: gray;
    margin: auto;
    margin-top: 125px;
    box-shadow: 3px 3px 10px gray;
}
h1{
	font-size: 20px;
    color: #9bc98a;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 0 13px;
    font-weight: 700;
    font-family: sans-serif, serif;
    text-align: center;
    margin: 0;
}
.box-left>h1{
    text-align: left;
}
.box-left{
	padding: 0;
	width: 42%;
	float: left;
	text-align: left;
}

.box-right{
	padding: 0;
	width: 50%;
	float: right;
	text-align: left;
}
.register, .login {
    font-size: 14px;
    color: #7e7e7e;
    background-color: #fdfdfd;
    width: 255px;
    display: block;
    border: 1px solid #9bc98a;
    box-shadow: inset 2px 2px 4px #f1f1f1;
    border-radius: 1px;
    margin: 13px 0 -3px;
    padding: 11px 15px 10px 50px;
}
label{
	margin-top: 22px;
    display: inline-block;
}
a{
	color: #598148;
    font-weight: 700;
    text-decoration: none;
    padding: 0;
}
input[type=submit] {
    width: 100px;
    height: 30px;
    background: #9bc98a;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 1px;
    border: 0;
    box-shadow: 0 3px #b7dbab;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
input[type=checkbox]{
	margin: 0;
}
.user{
	background: url(../img/user.png) no-repeat;
}
.email{
	background: url(../img/email.png) no-repeat;
}
.password{
	background: url(../img/password.png) no-repeat;
}
.social{
	height: 60px;
    padding: 13px 0 0;
}
.twt{
	background: url(../img/twt.png) no-repeat;
	background-color: transparent;
    height: 35px;
    width: 190px;
    display: block;
    float: right;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-top: 10px;

}
.fb{
	background: url(../img/fb.png) no-repeat;
	background-color: transparent;
    height: 35px;
    width: 200px;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
}

.box-right input[type=text]{
    width: 125px;
    display: inline-block;
    margin-right: 5px;
}
.box-right input[type=password] {
    width: 125px;
    display: inline-block;
}
.button-login{
	margin-right: 5px!important;
}
.bottom-text{
	margin-top: 35px;
    display: block;
    text-align: left;
    text-shadow: 1px 1px 0 #fff;
    line-height: 19px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}
.transition{
	transition: 0.75s;
}
/*HOVERS*/
.twt:hover, .fb:hover, input[type=submit]:hover, button:hover {
    opacity: 0.9;
}
a:hover {
    color: #84a079;
}
/*ACTIVE*/
.twt:active, .fb:active, input[type=submit]:active {
    opacity: 0.8;
}